@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 83.1%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.markdown {
	@apply mx-auto flex h-full w-full max-w-4xl flex-col text-base md:px-6 ;
}

.markdown > h1 {
	@apply mb-6 mt-12 text-5xl font-extrabold leading-tight text-foreground/100;
}

.markdown > h2 {
	@apply mb-5 mt-7 text-3xl font-semibold leading-tight text-foreground/90;
}

.markdown > h3 {
	@apply mb-4 mt-6 text-2xl font-semibold leading-tight text-foreground/80;
}

.markdown > p {
	@apply mb-4 mt-3 text-lg leading-7 text-foreground/70;
}

.markdown div.not-prose:has(pre) {
	/* @apply my-8 overflow-x-auto rounded-lg bg-muted p-5 font-mono text-sm text-foreground/80; */
}

.markdown > code {
	@apply rounded px-2 py-1 font-mono text-sm text-foreground/100 bg-muted;
}

.markdown :is(ul, ol) {
	@apply my-5 list-disc space-y-4 pl-7;
}

.markdown :is(li) {
	@apply leading-7;
}

.markdown :is(blockquote) {
	@apply my-8 border-l-4 border-muted/30 py-3 pl-6 text-xl italic text-foreground/60;
}

.markdown :not(::after(div)):is(img) {
	@apply my-8 h-auto max-w-full rounded-lg shadow-lg;
}

.markdown :is(table) {
	@apply my-8 w-full border-collapse text-left;
}

.markdown :is(th, td) {
	@apply p-4 text-sm border-b border-muted/30 text-foreground/100;
}

.markdown :is(a) {
	@apply text-foreground/80 underline hover:text-foreground/90;
}